<div class="container w-50 text-center">
    <div>
        <h1 >Liste des acteurs</h1>
    </div>
    <div *ngFor = 'let myDatas of data' class="text-center">
            <div>
                <strong>ID: </strong> {{myDatas.id}}
            </div>
            <div>
                <strong> Prénom : </strong>{{myDatas.firstname}}
            </div>
            <div>
                <strong> Nom : </strong>{{myDatas.lastname}}
            </div>
            <button type="submit" class="btn btn-primary" (click)="deleteActor(myDatas.id)">supprimer cet acteur</button>
    </div>
    <div class="mt-5">
        <a [routerLink]="['/add-actor']">Ajouter un acteur</a>
    </div>
</div>
